*.class
/GOG/data/*.gog
*.gog
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Slick lib
/llibraries
*.so
*.dylib
*.dll

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
